.header__contact {
  display: flex;
  align-items: center;
  gap: 30px;

  .contact__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: $brand-color-text;
    outline: none;
    position: relative;
  }

  .contact__icon {
    stroke: $brand-color-text;
    cursor: pointer;
  }

  .contact__icon--email {
    width: 16px;
    height: 12px;
  }

  .contact__icon--smartphone {
    width: 10px;
    height: 16px;
  }

  .contact__link:hover,
  .contact__link:focus .contact__link--smartphone {
    color: $brand-color-blue;
    fill: $brand-color-blue;
  }
}

// Media query 480----------------------------

@include screen-480 {
  .header__contact {
    display: none;
  }
}

// Media query 768----------------------------

@include screen-768 {
  .header__contact {
    align-items: start;
    flex-direction: column;
    gap: 10px;
  }
}
