.customers {
  padding: 94px 0;

  .customers__title {
    height: 42px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $brand-color-highlight;
    margin-bottom: 50px;
    margin-top: 0;

    .customers__container {
      @include container;
    }
  }

  .customers__list {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .customer__logo {
    width: 170px;
    height: 92px;
    border: 1px solid $icons-grey;
  }

  .customer__logo:focus,
  .customer__logo:hover {
    border: 1px solid $brand-color-blue;
  }

  .customer__logo .icon {
    width: 106px;
    height: 60px;
    margin: 16px 32px;
    fill: $icons-grey;
  }

  .customer__logo:hover .icon,
  .customer__logo:focus .icon {
    fill: $brand-color-blue;
  }
}

// Media query 480----------------------------

@include screen-480 {
  .customers__list {
    flex-wrap: wrap;

    .group__768 {
      gap: 30px;
      display: flex;
      flex-direction: column;

      .customer__logo {
        width: 210px;
        text-align: center;
      }
    }
  }
}

// Media query 768----------------------------

@include screen-768 {
  .customers__list {
    flex-wrap: wrap;

    .group__768 {
      gap: 30px;
    }
    .customer__logo {
      width: 226px;
      text-align: center;
    }
  }
}

@include screen-1200 {
  .customers__list {
    @include container;

    .customer__logo {
      width: 170px;
      text-align: center;
      margin: 0 1px;
    }
  }
}
