.cust {
   width: $width-section;
   
   

   &__container {
      max-width: $max-width-section;
      padding: 0px 15px;
      margin: 0px auto;
      
      
   }


   &__tittle {
      font-size: 36px;
      line-height: 1.17;
      color: $brand-color-highlight;
      text-align: center;
   }


   &__section-logo {
      @include flex(center, center);
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
   }

   &__logo-container &__logo-link {
      @include flex(center, center);
      width: 170px;
      height: 81px;
      border: 1px solid #AFB1B8;
      border-radius: 4px;
   }

   &__logo-container &__logo-link:focus,
   &__logo-container &__logo-link:hover {
      border: 1px solid $brand-color-blue;
      outline: $brand-color-blue;
   }


   &__logo {
      fill: #AFB1B8;
      width: 106px;
      height: 53px;
   }


   &__logo-container &__logo-link:focus &__logo,
   &__logo-container &__logo-link:hover &__logo {
      fill: $brand-color-blue;
   }

}