

.pageHeader {
   background-color: $brand-color-white-text;
   width: $width-section;
 }

.container {
   @include flex(center);
   position: relative;

   max-width:$max-width-section;
   padding: 15px 32px;
   margin: 0px auto; 
   gap: 93px; 

}

.navbar {
   @include flex(center, center);
   gap:93px;

   .logo {
   font-family: 'Raleway';
   font-size: 26px;
   color: $brand-color-blue;
   line-height: 1.19;
   

   }

   &__menu {
   @include flex(center, center);
   
   position: relative;

   gap:50px;
   font-weight: 500;
   color: $brand-color-highlight;
   letter-spacing: 0.02em;
   line-height: 1.14; 
   }

   .navbar__link {
      color: $brand-color-highlight;

   }

   .navbar.slected::after {
   content:"";
   background-color: $brand-color-blue;
   position:absolute;
   left:0%;
   top: calc(100% + 28px);
   width: 100%;
   height: 4px;

   }


   &__link:hover,
   &__link:focus,
   &__link--current {
   color: $brand-color-blue;
   }

   

 }  



 /*---contacts---*/
.booking {
   display: flex;
   @include flex(center, center);
   
   position: absolute;
   left:800px;
   gap:50px;

   &__link {
   font-weight: 500;
   letter-spacing: 0.02em;
   line-height: 1.14;
   color: $brand-color-text;
   }

   &__icon {
   fill: $brand-color-text;
   stroke: $brand-color-text;
   }


   &__icon--email {
   width: 16px;
   height: 12px;
   }


   &__icon--telephone {
   width: 10px;
   height: 16px;
   }


   
   &__link:hover,
   &__link:focus,
   &__link:hover &__icon {
   color: $brand-color-blue;
   stroke: $brand-color-blue;
   }
}


@media only screen and (max-width: 480px) {
   .navbar {
    display: none;
  }

  .booking {
    display: none;
  }
}

@include screen-768;