.header {
  width: 100%;

  .header__container {
    @include container;
    @include flex(center, space-between);
    background: $brand-color-white-text;
    border-bottom: 1px solid #ececec;
    height: 80px;
  }
}



@include screen-480 {
  .header .header__container {
    flex-direction: row-reverse;
  }
}


@include screen-768;