@include screen-480 {
  .menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  // @media (max-width: 780px) {
  //   .menu {
  //     display: none;
  //   }
  // }
  
  .menu .link {
    padding: 10px;
    color: inherit;
    text-decoration: none;
  }
  
  .menu .link:hover,
  .menu .link:focus {
    text-decoration: underline;
  }
  
  .menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }
  
  .menu-toggle__icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
    // viewbox: 0 0 20 20;
    // xmlns: "http://www.w3.org/2000/svg";
    fill: $brand-color-blue;
  }
  
  // @media (min-width: 768px) {
  //   .menu-toggle {
  //     display: none;
  //   }
  // }
  
  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: $brand-color-white-text;
    z-index: 999;
  
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  
    .mobile-menu {
      @include flex(flex-start, flex-start, column);
      padding: 0;
      margin: 0;
      list-style: none;
  
      .link {
        display: block;
        padding: 10px;
        color: $brand-color-highlight;
        text-decoration: none;
  
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: 0.02em;
      }
  
      .link.selected {
        color: $brand-color-blue;
      }
    }
  
    .menu__contact {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 30px;
      padding: 0;
  
      .menu-contact__link {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: $brand-color-text;
        outline: none;
        position: relative;
      }
  
      .menu-contact__link--tel {
        font-size: 34px;
        line-height: 40px;
        color: $brand-color-blue;
      }
  
      .menu-contact__link--mail {
        font-size: 24px;
        line-height: 28px;
      }
      .menu-contact__link:hover,
      .menu-contact__link:hover .contact__link--smartphone {
        color: $brand-color-blue;
        fill: $brand-color-blue;
      }
    }
  
    .menu__social-list {
      @include flex(flex-end, space-between);
      padding: 0;
  
      .social__link {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: $brand-color-blue;
      }
    }
  
    .close {
      fill: black;
      // viewbox: 0 0 20 20;
      // xmlns: "http://www.w3.org/2000/svg";
      width: 18.67px;
      height: 18.67px;
    }
  }
  
  .menu-container.is-open {
    transform: translateX(0);
  }
  
  .menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
  }
  
}

@include screen-768 {
  .menu-container{
    display: none;
  }

  .menu-toggle {
    display: none;
  }
}

@include screen-1200 {
  .menu-container{
    display: none;
  }

  .menu-toggle {
    display: none;
  }
}