.team {
   background-color: $brand-color-secondary-white;
   width: $width-section;
   /* padding: 94px 200px;  */

   .team__container { 
   max-width: $max-width-section;
   padding: 0px 15px;
   margin: 0px auto;

}

   &__tittle {
   font-size: 36px;
   line-height: 1.17;
   color: $brand-color-highlight;
   text-align: center;
   }


   &__card {
   display: flex;
   flex-wrap: wrap;
   // justify-content: center;
   gap: 30px;
    
  }


   &__photo {
   background-color: $brand-color-white-text;
   width: 270px;
   height: 428px;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
//    background-repeat: no-repeat, no-repeat;
   
  
   }

   &__job-tittle { 
   font-size: 16px;
   line-height: 1.18;
   text-align: center;
   }


   &__icon--container {
  @include flex(flex, center);
   padding-bottom: 30px;
   gap: 10px;
   }


   &__icon--container &__icon--link {
   @include flex(center, center);
   border-radius: 25px;
   height: 44px;
   width: 44px;
   outline: none;  
   }



   &__icon--container &__icon--link:focus,
   &__icon--container &__icon--link:hover {
   background: $brand-color-blue;  
   }


   &__icon {
   width: 20px;
   height: 20px;
   fill: #AFB1B8;
   }


   &__icon--container &__icon--link:focus &__icon,
   &__icon--container &__icon--link:hover &__icon {
   fill: #ffffff;
  }

}

// @include screen-480 {
//     .team {
//         width: 480px;
//         height: 2761px;

       
//         &__photo {
//    width: 450px;
//    height: 622px;
   
//    }
//     }

// }


@include screen-480 {
    .team {
    &__card {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    &__photo {
        width: 100%;
    }
    
    }
}



@include screen-768 {
    .team{
        &__card {
   display: flex;
   justify-content: center;
  }

  &__photo {
        width: 100%;
    }

    }

}