.logo {
   font-family: 'Raleway';
   font-size: 26px;
   color: $brand-color-blue;
   line-height: 1.19;
   }

.main-button {
   color: $brand-color-white-text;
   font-size: 16px;
   line-height: 1.8;
   text-align: center;
   letter-spacing: 0.06em;
   background-color: $brand-color-blue;
   border: none;
   width: 200px;
   height: 50px;
   background: #188CE8;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   cursor: pointer;  
}

