// :root {
//    --brand-color-text: #757575;
//    --brand-color-highlighting: #212121;
//    --brand-primary-blue-color: #2196F3;
//    --brand-primary-white-color: #E5E5E5;
//    --brand-primary-grey-color: #2F303A;  
//    --brand-secondary-white-color: #F5F4FA;
//    --brand-white-text-color: #ffffff;
//    --icons-grey: #AFB1B8;
// }




$brand-color-text: #757575;
$brand-color-highlight: #212121;
$brand-color-blue: #2196F3;
$brand-color-white: #E5E5E5;
$brand-color-grey: #2F303A; 
$brand-color-secondary-white: #F5F4FA;
$brand-color-white-text: #ffffff;
$icons-grey: #AFB1B8;
$footer-link: rgba(255, 255, 255, 0.6);

$width-section: 100%;
$max-width-section: 1200px;